<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>9 Trends From MWDCON</title>
    <!--<link rel="stylesheet" href="/css/style.css" />-->
    <script type='text/javascript' src='/jquery/dist/jquery.min.js'></script>
	<link rel="stylesheet" href="/materialize/dist/css/materialize.min.css" />
	<script type='text/javascript' src='/materialize/dist/js/materialize.min.js'></script>
    <link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link type="image/x-icon" href="/images/favicon.png" rel="icon">
  </head>
  <body <% if(!showContextMenu) { %>oncontextmenu="return false;"<% } %>>
		<!-- Title -->
		<div class="row header-grid valign-wrapper" style="margin-bottom:0">
			<div class="col s2 offset-s1 valign"><img src="/images/ISElogo.png" height=80></img></div>
			<div class="col s6 valign"><h2 style="color:white; letter-spacing: 0em; text-align:center; margin: auto;"><%= slideTitle %></h2></div>
		</div>
		<div id="slide-content-wrapper">
			<%- body %>
		</div>
  </body>
</html>

<script>
<% if(centerContent) { %>
$(document).ready(function() {
	var contentHeight = $('#slide-content-wrapper').height();
	var bodyHeight = $('body').height();
	var headerHeight = $('.header-grid').height();
	
	var verticalOffset = ((bodyHeight - headerHeight) - contentHeight) * 3 / 8;
	$('#slide-content-wrapper').css('padding-top', verticalOffset);
});
<% } %>
<% if(slideNumber != -1) { %>
$('body').mouseup(function(event) {
	console.log(event);
	if(event.button == 0) { //left click
		window.location.href = "/slide/" + (<%- slideNumber %> + 1);
	} else if(event.button == 1) { //middle click
	} else if(event.button == 2) { //right click
		window.location.href = "/slide/" + (<%- slideNumber %> - 1);
	}
});
$(document).keyup(function(event) {
	console.log(event);
	if(event.keyCode == 39) { //right arrow
		window.location.href = "/slide/" + (<%- slideNumber %> + 1);
	} else if(event.keyCode == 37) { //left arrow
		window.location.href = "/slide/" + (<%- slideNumber %> - 1);
	}
});
<% } %>
</script>